/* =======================
   בסיס כללי
======================= */

body {
  background-color: #f4f6f8;
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
}

/* =======================
   HEADER
======================= */
.hero h1 {
  font-size: 4rem;
} 

.hero {
  background:
    linear-gradient(rgba(40, 125, 57, 0.597), rgba(43, 141, 186, 0.45)),
    url("header.jpg") center/cover no-repeat;
  height: 350px;
  color: white;
}

/* =======================
   תמונות יחידות
======================= */

.unit-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .unit-img {
    height: 200px;
  }
}

@media (max-width: 768px) {
  .form-wrapper {
    width: 95%;
  }
}

/* =======================
   כרטיסים
======================= */

.card {
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body{
  text-align:center;
  position:relative;
  padding-bottom: 50px; /* מקום ל-badge שלא “יאכל” ע"י התוכן */
}

.form-wrapper {
  width: 70%;
  margin: 0 auto; /* ממורכז */
}

.search-wrapper{
  width: 70%;
  margin: 0 auto; /* ממורכז */
}
/* =======================
   Badge כללי
======================= */

.unit-badge{
  position:absolute;
  bottom:15px;
  right:15px;          /* RTL: ימין אמיתי */
  display:inline-block;
  z-index:10;
  padding:6px 14px;
  font-size:0.75rem;
  font-weight:500;
}
/* =======================
   צבעי קטגוריות
======================= */

.badge-reaction {
  background-color: #ff6b6b;
  color: white;
}

.badge-equipment {
  background-color: #4dabf7;
  color: white;
}

.badge-environment {
  background-color: #38d9a9;
  color: white;
}

.badge-framework {
  background-color: #9775fa;
  color: white;
}

.badge-food {
  background-color: #ffa94d;
  color: white;
}

.badge-emergency {
  background-color: #fa5252;
  color: white;
}

.badge-travel {
  background-color: #20c997;
  color: white;
}
